<div class="profile">
	<div class="promo">
		<div class="banner">
			<div class="icon">
				<img src="http://ddragon.leagueoflegends.com/cdn/11.7.1/img/profileicon/{{icon}}.png" alt="">
			</div>

			<div class="name_and_lvl">
				<div class="name"> {{name}}
					<span class="region">{{region}}</span>
				</div>

				<div class="lvl">Уровень {{lvl}}</div>
			</div>
		</div>
	</div>

	<div class="profile_nav">
		<ul>
			<li><a href="#">Обзор</a></li>
			<li><a href="#">Игры</a></li>
			<li><a href="#">Чемпионы</a></li>
			<li><a href="#">Рекорды</a></li>	
		</ul>
	</div>

	<div class="rating">
		{{ranked}}
	</div>

</div>